@page
@model AirportDateBase.Pages.Tickets.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены?</h3>
<div>
    <h4>Билет:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tickets.Name_passenger)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tickets.Name_passenger)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tickets.Pasport_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tickets.Pasport_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tickets.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tickets.Room)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tickets.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tickets.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tickets.Flight_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tickets.Flight_ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tickets.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
