@page
@model AirportDateBase.Pages.Tickets.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>билета:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tickets.Name_passenger)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tickets.Name_passenger)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tickets.Pasport_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tickets.Pasport_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tickets.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tickets.Room)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tickets.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tickets.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tickets.Flight_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tickets.Flight_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tickets.ID">Редактировать</a> |
    <a asp-page="./Index">Назад</a>
</div>
