@page
@model AirportDateBase.Pages.Posts.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены?</h3>
<div>
    <h4>Должность:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posts.Name_Post)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posts.Name_Post)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posts.Request)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posts.Request)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posts.Charge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posts.Charge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posts.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posts.Salary)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Posts.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
