@page
@model AirportDateBase.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Должности";
}

<h1>Должности</h1>

<p>
    <a asp-page="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Name_Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Request)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Charge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Posts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name_Post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Charge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Детали</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
