@page
@model AirportDateBase.Pages.Plane.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены?</h3>
<div>
    <h4>Самолеты:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plane.Type_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plane.Type_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plane.Employee_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plane.Employee_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plane.Mark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plane.Mark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plane.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plane.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plane.Tonnage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plane.Tonnage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plane.Technical_parameters)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plane.Technical_parameters)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plane.Release_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plane.Release_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plane.Date_last_repair)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plane.Date_last_repair)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plane.Hours_flown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plane.Hours_flown)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Plane.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
