@page
@model AirportDateBase.Pages.Flight.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>рейса:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Plane_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Plane_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Crew_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Crew_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Departure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Departure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Arrival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Arrival)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Time_flight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Time_flight)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Flight.ID">Редактировать</a> |
    <a asp-page="./Index">Назад</a>
</div>
